* {
	box-sizing: border-box;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content {
	position: fixed;
	bottom: 0;
	background: url(https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/TV%20Friend%20Channel.png) left bottom no-repeat;
	background-size: cover;
	width: 100%;
	padding: 20px;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#myBtn {
	width: 200px;
	font: 14px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	background: url(https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Wii%20Squares.png) left bottom no-repeat;
	background-size: cover;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button.MyButtonClass0 {
	width: 200px;
	font: 14px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	background: url(https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Wii%20Squares.png) left bottom no-repeat;
	background-size: cover;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button.MyButtonClass1 {
	width: 200px;
	font: 14px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	background: url(https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Photo%20Channel.png) left bottom no-repeat;
	background-size: cover;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button.MyButtonClass2 {
	width: 200px;
	font: 14px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	background: url(https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/Forecast%20Channel.png) left bottom no-repeat;
	background-size: cover;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button.MyButtonClass3 {
	width: 200px;
	font: 14px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	background: url(https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Background%20Images/News%20Channel%202.png) left bottom no-repeat;
	background-size: cover;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#myBtn:hover {
	background: #ddd;
	color: black;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
	font: 0.1px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.a {
	font: 15px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.b {
	font: large 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.c {
	font: 150% 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.d {
	font: 88% 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.e {
	font: 77% 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.f {
	font: 66% 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
	background: url(https://6100m.github.io/botcdn/News%20Channel.png) left bottom no-repeat;
	background-size: cover;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
	min-height: 100%;
	color: #61666c;
	font-weight: 400;
	font: 1em 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 2em;
}

html {
	padding: 45px 25px;
	font: 13px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: cover !important;
	margin: 0px;
	cursor: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Cursors/wii.cur"), default;
	color: #000000;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
	color: #2D5369;
	cursor: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Cursors/wii-hover.cur"), default;
	text-decoration: none;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@font-face {
	font-family: 'MyWebFont';
	src: url('https://6100m.github.io/data/webfont.eot');
	/* IE9 Compat Modes */
	src: url('https://6100m.github.io/data/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('https://6100m.github.io/data/webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('https://6100m.github.io/data/webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Fonts/WiiNTLGPGothic-Regular.ttf')format('truetype'), /* Safari, Android, iOS */
	url('https://6100m.github.io/data/webfont.svg#svgFontName') format('svg');
	/* Legacy iOS */
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
	font-family: 'MyWebFont', Fallback, sans-serif;
}

p {
	font-family: 'MyWebFont', Fallback, sans-serif;
}

head {
	font-family: 'MyWebFont', Fallback, sans-serif;
}

div.g {
	font-family: 'MyWebFont', Fallback, sans-serif;
}
