* {
	box-sizing: border-box;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.content {
	position: fixed;
	bottom: 0;
	background: url(https://6100m.github.io/TV_Friend_Channel.png) left bottom no-repeat;
	background-size: cover;
	width: 100%;
	padding: 20px;
}

#myBtn {
	background: url(https://6100m.github.io/Wii_no_Ma.png) left bottom no-repeat;
	background-size: cover;
}

button {
	width: 200px;
	font-size: 14px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
	background-size: cover;
}

button.MyButtonClass0 {
	background: url(https://6100m.github.io/Wii_Squares.png) left bottom no-repeat;
}

button.MyButtonClass1 {
	background: url(https://6100m.github.io/Photo_Channel.png) left bottom no-repeat;
}

button.MyButtonClass2 {
	background: url(https://6100m.github.io/Forecast_Channel.png) left bottom no-repeat;
}

button.MyButtonClass3 {
	background: url(https://6100m.github.io/News_Channel_2.png) left bottom no-repeat;
}

#myBtn:hover {
	background: #ddd;
	color: black;
}

h1 {
	font-size: 0.1px;
}

div.a {
	font-size: 15px;
}

div.b {
	font-size: large;
}

div.c {
	font-size: 150%;
}

div.d {
	font-size: 88%;
}

div.e {
	font-size: 77%;
}

div.f {
	font-size: 66%;
}

div.h {
	font-size: 179%;
}

body {
	background: url(https://6100m.github.io/News_Channel.png) left bottom no-repeat;
	background-size: cover;
}

html {
	min-height: 100%;
	color: #61666c;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 2em;
}

html {
	padding: 45px 25px;
	font: 13px 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: cover !important;
	margin: 0px;
	cursor: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Cursors/wii.cur"), default;
	color: #000000;
}

a {
	color: #2D5369;
	cursor: url("https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Cursors/wii-hover.cur"), default;
	text-decoration: none;
}

@font-face {
	font-family: 'MyWebFont';
	src: url('https://6100m.github.io/data/webfont.eot'); /* IE9 Compat Modes */
	src: url('https://6100m.github.io/data/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('https://raw.githubusercontent.com/larsenv/MarioCube-WC24/master/Fonts/WiiNTLGPGothic-Regular.ttf')format('truetype');
	font-family: 'Wii NTLG PGothic', "Wii NTLG Gothic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
	font-family: 'MyWebFont', Fallback, sans-serif;
}

span.PadMii {
  padding: 6px;
}
